#!/usr/bin/make -f
  
%:
	dh ${@}

override_dh_installchangelogs:
	dh_installchangelogs ChangeLog.txt

override_dh_fixperms:
	find debian/*/usr/share/sidux-manual -type f -exec chmod 0644 {} \;
	dh_fixperms

override_dh_builddeb:
	dh_builddeb -- -Zbzip2 -z9

create-icons:
	# requires inkscape and imagemagick to be installed
	@if [ ! -x /usr/bin/convert ]; then \
		echo "ERROR: imagemagick not installed!" ; \
		false ; \
	fi
	@if [ ! -x /usr/bin/inkscape ]; then \
		echo "ERROR: inkscape not installed!" ; \
		false ; \
	fi
	
	# create XDG compatible icons from SVG
	for i in 16 22 32 48 64 128; do \
		mkdir -p "menu/icons/hicolor/$${i}x$${i}/apps" ; \
		inkscape --export-width=$${i} \
			 --export-height=$${i} \
			 --export-png="$(CURDIR)/menu/icons/hicolor/$${i}x$${i}/apps/sidux-manual.png" \
				$(CURDIR)/menu/icons/sidux-manual.svg ; \
	done
	
	# create XPM icons for the debian menu system
	mkdir -p menu/icons/pixmaps
	convert menu/icons/hicolor/32x32/apps/sidux-manual.png menu/icons/pixmaps/sidux-manual.xpm
	convert menu/icons/hicolor/16x16/apps/sidux-manual.png menu/icons/pixmaps/sidux-manual-16.xpm
