#!/usr/bin/make -f
  
include /usr/share/cdbs/1/rules/debhelper.mk
#include /usr/share/cdbs/1/rules/dpatch.mk

DEB_INSTALL_CHANGELOGS_ALL = ChangeLog.txt

common-binary-fixup-indep::
	# fix permissions
	find debian/*/usr/share/sidux-manual -type f -exec chmod 0644 {} \;

install/sidux-manual-common::
	mkdir -p debian/sidux-manual-common/usr/share/pixmaps
	convert menu/icons/hicolor/32x32/sidux-book.png \
		debian/sidux-manual-common/usr/share/pixmaps/sidux-manual.xpm
	convert menu/icons/hicolor/16x16/sidux-book.png \
		debian/sidux-manual-common/usr/share/pixmaps/sidux-manual-16.xpm
