[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=x-www-browser /usr/share/sidux-manual/index.html
Icon=sidux-book2b
Name=sidux manual
Name[de]=sidux manual
Categories=System;Documentation;
