[Desktop Entry]
Type=Application
Exec=x-www-browser /usr/share/sidux-manual/index.html
Icon=sidux-manual
Name=sidux manual
Name[bg]=sidux Manual
Name[da]=sidux Manual
Name[de]=sidux Handbuch
Name[el]=Εγχειρίδιο sidux
Name[en_GB]=sidux Manual
Name[en_US]=sidux Manual
Name[es]=Manual de sidux
Name[fr]=Manuel de sidux
Name[hr]=sidux Priručnik
Name[hu]=sidux Manual
Name[it]=Manuale di sidux
Name[ja]=sidux Manual
Name[nl]=sidux Handleiding
Name[pl]=sidux Manual
Name[pt]=Manual do sidux
Name[pt_BR]=Manual do sidux
Name[ro]=sidux Manual
Name[ru]=sidux руководство
Categories=System;Documentation