[Desktop Entry]
Type=Application
Exec=x-www-browser /usr/share/sidux-manual/index.html
Icon=sidux-manual
Name=sidux manual
Name[de]=sidux Handbuch
Name[en]=sidux manual
Name[ru]=sidux руководство
Categories=System;Documentation;
